:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}
button {
  background-color: #3a3a3a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
input, select {
  background-color: #3a3a3a;  
  color: white;
  border: 1px solid #555;
  padding: 8px;
}
input::placeholder {
  color: #aaa;
}
select option {
  background-color: #3a3a3a;
  color: white;
}
select option:hover {
  background-color: #555;
}
a {
  color: #1e90ff;
} 
